@model SubmissionModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Generate Payslips from Employee File</h2>
        
        @if (!String.IsNullOrEmpty(Model.Errors))
        {
            <p class="text-danger">@Model.Errors</p>
        }
        <form method="post" enctype="multipart/form-data" asp-action="Index">
            <div class="form-group">
                <label asp-for="EmployeeInputFile" class="control-label">Employee Input File</label>
                <input asp-for="EmployeeInputFile" type="file" class="form-control" />
                <span asp-validation-for="EmployeeInputFile" class="text-danger"></span>
                <em>File must be in Comma-separated Values (CSV) format.</em>
            </div>
            <div class="form-group">
                <input type="submit" value="Generate Payslips..." class="btn btn-success" />
            </div>
        </form>
    </div>
    <div class="col-md-9">
        @if (Model.Results != null)
    {
        <h2>Results</h2>
        <p>Employee Payslips</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Payment Period</th>
                    <th>Gross Income</th>
                    <th>Income Tax</th>
                    <th>Net Income</th>
                    <th>Super Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model.Results)
            {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.PayPeriod</td>
                    <td>@r.GrossIncome</td>
                    <td>@r.IncomeTax</td>
                    <td>@r.NetIncome</td>
                    <td>@r.Super</td>
                </tr>
        }
            </tbody>
        </table>
}
else
{
    <h3>Employee File Example</h3>
    <p>
        <span>Here's an example of the CSV header and record structure that the Employee File must contain:</span>
    </p>
    <h3>Example:</h3>
    <table class="table">
        <thead>
        <tr>
            <th>first_name,</th>
            <th>last_name,</th>
            <th>annual_salary,</th>
            <th>super_rate,</th>
            <th>payment_start_date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span>David,</span></td><td><span>Rudd,</span></td><td><span>60050,</span></td><td><span>9%,</span></td><td><span>01 March - 31 March</span></td>
        </tr>
        <tr>
            <td><span>Ryan,</span></td><td><span>Chen,</span></td><td><span>120000,</span></td><td><span>10%,</span></td><td><span>01 March - 31 March</span></td>
        </tr>
        </tbody>
    </table>
}
    </div>
</div>
